/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-window {
    width: 100%;
    height: 100%;
  }

  .input-div {
    background-color: #fffaf0;
    box-shadow: 0 4px 8px rgba(255, 253, 253, 0.2);
    padding: 5%;
    width: 95%;
    height: 100%;
    margin: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;  */
  }

  .submit-button {
    margin-left: 0%;
    width: 100%;
    /* margin: auto; */
    max-width: 400px;
    /* margin-bottom: 15px; */
  }
  
  .input-div div {
    margin-bottom: 15px;
  }
  .input-person,
  .input-time,
  .input-person,
  .input-action {
    align-items: center;
    align-items: stretch;
  }
  
  label {
    /* display: block; */
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="time"],
  input[type="color"] {
    /* width: calc(100% - 20px); */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 5px;
    color: #000000; /* 文字色を白に変更 */
    background-color: #fafbfd;
  }
  
  textarea[type="text"]#action {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    /* margin-top: 5px; */
    border: 1px solid #333;
    border-radius: 5px; 
    color: #000000; /* 文字色を白に変更 */
    /* background-color: #fafbfd; */
    /* font-size: 16px; 4 times the default font size */
    /* padding: 40px; 4 times the default padding */
    /* height: 80px; */
    resize: none;
    /* overflow-y: auto; */
    /* white-space: pre-wrap; */
  }
  
  input[type="color"] {
    padding: 1px 2px;
    vertical-align: middle;
    height: 30px;
    width: 60px; /* 適切な幅を指定 */
    vertical-align: middle;
  }
  
  button {
    background-color: #8B13E8; /* 要望に合わせて変更 */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 128px;
  }
  
  button:hover {
    background-color: #6700b6; /* 要望に合わせて変更 */
  }
  
  button:focus {
    outline: none;
  }
  